h1 {
    text-align: center;
    color: mintcream;
    background-color: aqua;
    margin: 0px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Times New Roman" serif;
}

img {
    height: 200px;
    width: auto;

}

.desc{
    background-color: lightblue;
}

.ingredients {
    background-color: lightcyan;
}

.steps {
    background-color: rgb(223, 247, 249);
}

.recipe-list{
    margin: none;
    background-color: mintcream;
}

.recipe-list li {
    text-align: center;
    font-size: 30px;
    background:lightpink;
    width: 50vw;
    margin: 0 auto;
    border: 10px solid white;
    padding: 10px;
}